.team {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(245, 244, 250, 1);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32.8 / 28);
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: calc(42.19 / 36);
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  margin-left: -30px;
}

.team__item {
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__content-wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__content-wrapper {
    padding-bottom: 30px;
  }
}

.team__name {
  font-weight: 500;
  line-height: calc(18.75 / 16);
  letter-spacing: 0.03em;
  color: $title-color;
  margin-bottom: 10px;
}

.team__speciality {
  font-weight: 400;
  line-height: calc(18.75 / 16);
  letter-spacing: 0.03em;
  color: $text-color;
  margin-bottom: 16px;
}

.team__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__social-item:not(:last-child) {
  margin-right: 10px;
}
