%social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms $timing-function,
    fill 250ms $timing-function;
}
.social__link--light-theme {
  @extend %social__link;
  fill: $icon-fill;
  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: rgba(255, 255, 255, 1);
  }
}
.social__link--dark-theme {
  @extend %social__link;
  background: rgba(255, 255, 255, 0.1);
  fill: rgba(255, 255, 255, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: rgba(255, 255, 255, 1);
  }
}
.social__icon {
  width: 20px;
  height: 20px;
}
